{% extends 'layout.html.twig' %}

{% block content %}
<style type="text/css">
#loading{display:none;}
#wrap{display:block;}
</style>
<div id="main">

<div id="connect_menu">
<div class="title">Connect</div>
<a href="http://oauth.vk.com/authorize?client_id=3128485&scope=wall,friends,photo&redirect_uri=http://mybox.pagodabox.com/login_vk&response_type=code"><div class="vk_button"></div></a>
<a href="https://www.facebook.com/dialog/oauth?client_id=425240654200438&redirect_uri=http://mybox.pagodabox.com/login_fb&scope=read_stream&state=1"><div class="fb_button"></div></a>
<div style="clear:both;"></div>
</div>

</div>
{% endblock %}
