{% extends 'layout.html.twig' %}

{% block content %}
<a href="http://mybox.pagodabox.com/connect"><button class="medium green col_4">Connect social network</button></a>
    <h1>Boxes</h1>
<div class="box_area">
<div id="boxes"></div>
<div class="box_area_clear"></div>
</div>

<script type="text/javascript">
$.getJSON("http://mybox.pagodabox.com/boxes",{},
  function(data) {
    $.each(data, function(i,item){
      console.log(item);
      var date = new Date(item.date * 1000);

      if($item.image!=''){
         item.text = item.text + '<img src="'+item.image+'" width="278px"/>';
      }

      $('#boxes').append('<div class="box_area_item"><p>'+item.text+'</p><i>At '+date.getDay()+'.'+date.getMonth()+'.'+date.getFullYear()+' '+date.getHours()+':'+date.getMinutes()+' from '+item.from+'</i></div>');
    });
  });
</script>


{% endblock %}
