{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Вход</h1>


    <button class="medium green col_4"><span class="icon social x-large" data-icon="E" title="Twitter"></span>Twitter</button>
    <button class="medium green col_4"><span class="icon social x-large" data-icon="F" title="Facebook"></span>Facebook</button>
    <a href="/login_vk"><button class="medium green col_4"><span class="icon social x-large" data-icon="V"></span>ВКонтакте</button></a>
{% endblock %}