{% extends 'layout.html.twig' %}

{% block content %}

    <h1>Boxes</h1>
<div id="boxes_area"></div>

<script type="text/javascript">
$.ajax({
  type: "GET",
  url: "/boxes",
  data: {}
}).done(function( data ) {
  var jsonData = eval(data);
  console.log(jsonData);
});
</script>

<a href="http://mybox.pagodabox.com/connect"><button class="medium green col_4"><span class="icon add"  title="Facebook"></span> Connect social network</button></a>
{% endblock %}
