{% extends 'layout.html.twig' %}

{% block content %}
<a href="http://mybox.pagodabox.com/connect"><button class="medium green col_4">Connect social network</button></a>
    <h1>Boxes</h1>
<div class="box_area">
<div id="boxes0" class="boxes_column"></div>
<div id="boxes1" class="boxes_column"></div>
<div id="boxes2" class="boxes_column"></div>
<div class="box_area_clear"></div>
</div>

<script type="text/javascript">
$.getJSON("/boxes",{},
  function(data) {
    $.each(data, function(i,item){

      console.log(item);

      var date = new Date(item.date * 1000);

      var itemData = '<div class="box_area_item">';

      itemData = itemData + '<i>At '+date.format('dd/mm/yyyy H:i:s')+' from '+item.from+'</i>';

      itemData = itemData + '<p>'+item.text+'</p>';
	  
	  var attachments = '';
	  
	  if( item.attachments.length > 0 ){
	  
		attachments = attachments + '<div class="attachments">';
		
		for( index in item.attachments){
		
			var att = item.attachments[index];
			
			if( att.type == 'video' ){
			    attachments = attachments + '<div class="item">';
				attachments = attachments + '<div class="full">'+att.src+'</div>';
				attachments = attachments + '<img src="'+att.image+'"/>';
				attachments = attachments + '<h1>'+att.title+'<h1>';
				attachments = attachments + '<p>'+att.description+'<p>';
			    attachments = attachments + '</div>';
			}
			
			if( att.type == 'photo' ){
				attachments = attachments + '<div class="item">';
                attachments = attachments + '<div class="full">'+att.src+'</div>';
				attachments = attachments + '<img src="'+att.image+'"/>';
				attachments = attachments + '<h1>'+att.title+'<h1>';
				attachments = attachments + '<p>'+att.description+'<p>';
				attachments = attachments + '</div>';
			}
			
			if( att.type == 'link' ){
				attachments = attachments + '<div class="item">';
				attachments = attachments + '<a href="'+att.src+'">'+att.src+'</a>';
				attachments = attachments + '<h1>'+att.title+'<h1>';
				attachments = attachments + '<p>'+att.description+'<p>';
				attachments = attachments + '</div>';
			}		
		}
		
		attachments = attachments + '<div class="box_area_clear"></div></div>';
	  
	  }
	  
      itemData = itemData + attachments;
	  
      itemData = itemData + '<div class="rate">'+item.likes+'</div>';

      itemData = itemData + '</div>';

	  var columnIndex = i%3;
	  
      $('#boxes'+columnIndex).append(itemData);
    });
  });
</script>


{% endblock %}
