{% extends 'layout.html.twig' %}

{% block content %}
<div id="likes-bar">
<span class="caption">News level:</span>
<div id="likes-bar-slider"></div>
<span class="likes_count"><font color="#fff9e3">Trash</font></span>
</div>
<div class="box_area">
<div id="box_area_nothing">Nothing not found...</div>
<div id="boxes_container"></div>

<div class="box_area_clear"></div>
<div id="box_area_footer"></div>
</div>

<script type="text/javascript">

$(function() {
                mybox.init();
		$( "#likes-bar-slider" ).slider({
			orientation: "horizontal",
			range: "min",
			min: 0,
			max: 1000,
			value: 0,
			slide: function( event, ui ) {
			
				var likes_level = '<font color="#fff9e3">Trash</font>';
				
				if( ui.value > 9 ){
					likes_level = '<font color="#fff4c7">Not bad</font>'
				}
				
				if( ui.value > 49 ){
					likes_level = '<font color="#ffeca1">Nice</font>'
				}
				
				if( ui.value > 99 ){
					likes_level = '<font color="#ffe682">Very nice</font>'
				}
				
				if( ui.value > 199 ){
					likes_level = '<font color="#ffe26e">Cool</font>'
				}
				
				if( ui.value > 499 ){
					likes_level = '<font color="#ffdd57">Super</font>'
				}

				if( ui.value > 699 ){
					likes_level = '<font color="#ffd940">Excellent</font>'
				}
				if( ui.value > 999 ){
					likes_level = '<font color="#ffcc00">Wow!</font>'
				}				
				$( "#likes-bar span.likes_count" ).html( likes_level );

			},
			stop: function( event, ui ) {
				mybox.clear();
				mybox.loadingOn();
				$( "#mybox_likes" ).val( ui.value );
				mybox.load();
			}
		});
		$( "#mybox_likes" ).val( $( "#likes-bar-slider" ).slider( "value" ) );
	});
</script>

{% endblock %}
